language: php

php:
  - '7.3'
  - '7.4'
  - '8.0'

sudo: false

cache:
  directories:
    - $HOME/.composer/cache

before_script:
  - travis_retry composer self-update
  - travis_retry composer update --no-interaction --prefer-dist

script:
  - vendor/bin/phpunit --coverage-clover coverage.xml

after_script:
  - bash <(curl -s https://codecov.io/bash)